<!doctype html>
<html lang="en" dir="ltr">
{{ include('_head.html.twig') }}
<body>
<div id="root">
    {{ include('_header.html.twig') }}
    <main id="content">
        <article class="module-wide theme-azure">
            <h1 class="s35">Latest Competition <i class="icon-podium"></i></h1>
            <ul class="list-entries">
                <li class="featured">
                    <figure><img src="http://placehold.it/645x460" alt="Placeholder" width="645" height="460"></figure>
                    <div>
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                            orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum,
                            rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat
                            interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</p>
                    </div>
                </li>
                <li class="theme-lime no-img">
                    <h3>Competition guidelines</h3>
                    <div>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing
                                elit. Aenean in erat interdum, rhoncus orci vel, fringilla est.
                            </li>
                            <li>Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel,
                                fringilla est. Nam vel condimentum
                            </li>
                            <li>Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</li>
                            <li>Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel,
                                fringilla est. Nam vel condimentum
                            </li>
                        </ul>
                        <p class="link-btn text-right"><a href="./" class="a">PDF download <i
                                        class="icon-arrow-down"></i></a></p>
                    </div>
                </li>
                <li class="no-img">
                    <h3>How to Send Your Entry</h3>
                    <div>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing
                                elit. Aenean in erat interdum, rhoncus orci vel, fringilla est.
                            </li>
                            <li>Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel,
                                fringilla est. Nam vel condimentum
                            </li>
                            <li>Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</li>
                        </ul>
                        <p class="link-btn text-right"><a href="./" class="a">Entry form <i
                                        class="icon-arrow-right"></i></a></p>
                    </div>
                </li>
            </ul>
        </article>
        <article class="module-wide theme-azure light">
            <h2 class="s35 overlay-navy">Resources</h2>
            <ul class="list-box theme-navy">
                <li>
                    <figure><a href="./" class="video"><img src="http://placehold.it/355x200" alt="Placeholder"
                                                            width="355" height="200"></a></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                        orci</p>
                </li>
                <li>
                    <figure><a href="./" class="video"><img src="http://placehold.it/355x200" alt="Placeholder"
                                                            width="355" height="200"></a></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                        orci</p>
                </li>
                <li>
                    <figure><a href="./" class="video"><img src="http://placehold.it/355x200" alt="Placeholder"
                                                            width="355" height="200"></a></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus
                        orci</p>
                </li>
                <li>
                    <figure><img src="http://placehold.it/355x200" alt="Placeholder" width="355" height="200"></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci <a
                                href="./">Download</a></p>
                </li>
                <li>
                    <figure><img src="http://placehold.it/355x200" alt="Placeholder" width="355" height="200"></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci <a
                                href="./">Download</a></p>
                </li>
                <li>
                    <figure><img src="http://placehold.it/355x200" alt="Placeholder" width="355" height="200"></figure>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci <a
                                href="./">Download</a></p>
                </li>
            </ul>
        </article>
        <p class="link-btn cta theme-navy">
            <span>Subscribe to ReadingZone Plus for more digital ‘book plus’ activities</span> <a href="./">Subscribe <i
                        class="icon-arrow-right"></i></a> <span class="offset-wide"><img src="images/background-j.jpg"
                                                                                         alt="Placeholder" width="2000"
                                                                                         height="2000"></span></p>
        <article class="module-wide theme-lime">
            <h2 class="s35">Get Creative <a href="./" class="text-right">See all</a></h2>
            <ul class="list-box">
                <li>
                    <h3>Primary schools termly competition</h3>
                    <figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
                <li>
                    <h3>Secondary schools termly competition</h3>
                    <figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
                <li>
                    <h3>Make &amp; Send an Audio Book</h3>
                    <figure><img src="http://placehold.it/350x335" alt="Placeholder" width="350" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
            </ul>
        </article>
        <article class="module-wide theme-coral">
            <h2 class="s35">Previous Entries <a href="./" class="text-right">See all</a></h2>
            <ul class="list-box">
                <li>
                    <h3>Primary schools termly competition</h3>
                    <figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
                <li>
                    <h3>Secondary schools termly competition</h3>
                    <figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
                <li>
                    <h3>Make &amp; Send an Audio Book</h3>
                    <figure><img src="http://placehold.it/350x335" alt="Placeholder" width="350" height="335">
                        <figcaption>Title</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci
                        vel, fringilla est. Nam vel condimentum odio. <a href="./">More...</a></p>
                </li>
            </ul>
        </article>
    </main>
    {{ include('_footer.html.twig') }}
</div>
{{ include('_footer-scripts.html.twig') }}
</body>
</html>
