<li>
    <a href="./">
        <img
                src="https://readingzone.com/thumb.php?cover={{ popular_book.isbn }}"
                alt="{{ popular_book.TI }}"
                height="240"
                width="155">
        {{ popular_book.TI }}
        <span> {{ popular_book.FN }}</span></a>
</li>