<figure><img src="https://readingzone.com/thumb.php?cover={{ book.isbn }}" alt="{{ book.title }}" width="180px"
             style="width:180px;"></figure>
<p>{{ book.summary | length > 200 ? book.summary | slice(0,200) ~ '...' : book.summary }}</p>
