<li>
    <a href="./"><img src="https://readingzone.com/thumb.php?cover={{ book.isbn }}" alt="{{ book.TI }}"
                      width="130"
                      height="200"> {{ book.TI }} <span>{{ book.FN }}</span></a>
</li>