<li>
    <figure><img src="/project-assets/{{ coverimg }}" alt="Placeholder" width="355" height="200"></figure>
    <h2>{{ title }}</h2>
    <p>{{ text }}<a href="/project-assets/{{ pdf }}">Download</a></p>
</li>