<footer id="footer">
    <nav>
        <ul class="list-social">
            <li><a rel="external" href="./"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
            <li><a rel="external" href="./"><i class="icon-instagram"></i> <span>Instagram</span></a></li>
            <li><a rel="external" href="./"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
            <li><a rel="external" href="./"><i class="icon-youtube"></i> <span>YouTube</span></a></li>
        </ul>
        <ul>
            <li><a href="./">Sign up to our newsletter</a></li>
            <li><a href="./">About us</a></li>
            <li><a href="./">Contact us</a></li>
        </ul>
        <ul>
            <li>&copy; Reading Zone <span class="date">2019</span></li>
            <li><a href="./">Terms &amp; Conditions</a></li>
            <li><a href="./">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>