<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ReadingZone</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="theme-color" content="#ffffff">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
<link rel="preload" as="style"
      href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,800,900&amp;display=swap">
<link rel="preload" as="style" href="/styles/screen.css">
<link rel="stylesheet" media="screen"
      href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,800,900&amp;display=swap">
<link rel="stylesheet" media="screen" href="/styles/screen.css">
<link rel="icon" type="image/x-icon" href="/favicon.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<link rel="manifest" href="/manifest.json">
<link rel="preconnect" href="https://ajax.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<meta name="msapplication-config" content="browserconfig.xml">
<meta property="og:title" content="ReadingZone">
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="og:site_name" content="ReadingZone">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta name="twitter:title" content="ReadingZone">
<meta name="twitter:description" content="">
<meta name="twitter:site" content="ReadingZone">
<meta name="twitter:card" content="">
<meta name="twitter:image" content="">
<script type="application/ld+json">
    [
        {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "url": "https://readingzone.com",
            "name": "ReadingZone",
            "legalName": "ReadingZone Ltd",
            "description": "",
            "logo": "",
            "image": "",
            "contactPoint": {
                "@type": "ContactPoint",
                "contactType": "Customer service",
                "telephone": "01737 843943"
            },
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "PO Box 47251",
                "addressLocality": "London",
                "addressRegion": "LND",
                "postalCode": "N12 9XW",
                "addressCountry": "GB"
            }
        },
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://readingzone.com",
            "name": "ReadingZone",
            "description": "",
            "author": {
                "@type": "Organization",
                "url": "https://readingzone.com",
                "name": "ReadingZone Ltd",
                "description": "Helping you discover the best books for children & teenagers"
            }
        }
    ]
</script>
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        js.async = true;
        js.charset = "utf-8";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
