<li>
    <iframe src="https://player.vimeo.com/video/{{ project.video }}" width="355" height="200" frameborder="0"
            allow="autoplay; fullscreen" allowfullscreen></iframe>
    <h2>{{ project.title }}</h2>
    <p>{{ project.intro_text }}</p>
</li>
