<ul class="list-social">
    <li>Share this</li>
    <li><a href="./"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
    <li><a href="./"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
</ul>