<li>
    <iframe src="https://player.vimeo.com/video/{{ video }}" width="355" height="200" frameborder="0"
            allow="autoplay; fullscreen" allowfullscreen></iframe>
    <h2>{{ title }}</h2>
    <p>{{ intro_text }}</p>
</li>