<!doctype html>
<html lang="en" dir="ltr">
	<head>
{{ include('_head.html.twig') }}
	</head>
	<body>
		<div id="root">
			<header id="top">
				{{ include('_header.html.twig') }}
			</header>             
			<main id="content">
				<article class="module-wide theme-azure light">
					<header class="cols-a">
						<div class="heading-title a">
							<h1>Latest Books &amp; extracts <i class="icon-books"></i></h1>
							<p class="link-btn">
								<a href="./">See all latest books <i class="icon-arrow-right"></i></a>								
							</p>
						</div>
					</header>
					<div class="cols-a">
						<div>
							<div class="tabs-a">
								<nav>
									<ul>
										<li><a href="./">0+</a></li>
										<li><a href="./">3+</a></li>
										<li><a href="./">5+</a></li>
										<li><a href="./">7+</a></li>
										<li><a href="./">9+</a></li>
										<li><a href="./">11+</a></li>
										<li><a href="./">14+</a></li>
									</ul>
								</nav>
								<div>
									<div>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books %}
											<li>
												{% include '_book_teaser.html' with { 'book': highlighted_book.isbn } %}
											</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "3+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_three %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "5+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_five %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "7+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_seven %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "9+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_nine %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "11+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_eleven %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<p>Content for "14+" tab.</p>
										<ul class="list-aside slider" data-count="2">
											{% for highlighted_book in highlighted_books_fourteen %}
												<li>
													{% include '_book_teaser.html' with { 'book': highlighted_book.book } %}
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<aside class="mobile-hide">
							<figure><a rel="external" href="./"><img src="http://placehold.it/300x400" alt="Placeholder" width="300" height="400"></a></figure>
						</aside>
					</div>
				</article>
				<!--<article class="module-wide theme-azure light">
					<header class="heading-title a">
						<h1>Latest Books &amp; extracts <i class="icon-books"></i></h1>
						<p class="link-btn">
							<a href="./">See all latest books <i class="icon-arrow-right"></i></a>								
						</p>
					</header>
					<div class="tabs-a">
						<nav>
							<ul>
								<li><a href="./">0+</a></li>
								<li><a href="./">3+</a></li>
								<li><a href="./">5+</a></li>
								<li><a href="./">7+</a></li>
								<li><a href="./">9+</a></li>
								<li><a href="./">11+</a></li>
								<li><a href="./">14+</a></li>
							</ul>
						</nav>
						<div>
							<div>
								<ul class="list-aside slider">
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
								</ul>
							</div>
							<div>
								<p>Content for "3+" tab.</p>
							</div>
							<div>
								<p>Content for "5+" tab.</p>
							</div>
							<div>
								<p>Content for "7+" tab.</p>
							</div>
							<div>
								<p>Content for "9+" tab.</p>
							</div>
							<div>
								<p>Content for "11+" tab.</p>
							</div>
							<div>
								<p>Content for "14+" tab.</p>
							</div>
						</div>
					</div>
				</article>-->
				<article class="module-wide theme-lime">
					<header class="heading-title a">
						<h2><span class="mobile-hide">ReadingZone</span> Authors of the Month</h2>
						<p class="link-btn"><a class="a" href="./">See all authors <i class="icon-arrow-right"></i></a></p>
					</header>
					<div class="tabs-a">
						<nav>
							<ul>
								<li><a href="./">Picture book</a></li>
								<li><a href="./">Children</a></li>
								<li><a href="./">Teenagers</a></li>
								<li><a href="./">Young Adult</a></li>
								<li><a href="./">Debut</a></li>
								<li><a href="./">Featured Authors</a></li>
							</ul>
						</nav>
						<div>
							<div>
								<ul class="list-aside slider">
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
									<li>
										<figure><img src="http://placehold.it/180x275" alt="Placeholder" width="180" height="275"></figure>
										<h3>Title</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
										<p class="link-btn"><a href="./">More <i class="icon-arrow-right"></i></a></p>
									</li>
								</ul>
							</div>
							<div>
								<p>Content for "Children" tab.</p>
							</div>
							<div>
								<p>Content for "Teenagers" tab.</p>
							</div>
							<div>
								<p>Content for "Young Adult" tab.</p>
							</div>
							<div>
								<p>Content for "Debut" tab.</p>
							</div>
							<div>
								<p>Content for "Featured Authors" tab.</p>
							</div>
						</div>
					</div>
				</article>
				<article>
					<div class="double a">
						<div>
							<h2 class="s35 overlay-b">Competitions <i class="icon-podium"></i> <a href="./" class="text-right">See all</a></h2>
							<div class="module-entry a">
								<figure><img src="http://placehold.it/575x385" alt="Placeholder" width="575" height="385"></figure>
								<h3>Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
								<p class="link-btn"><a class="a" href="./">More <i class="icon-arrow-right"></i></a></p>
							</div>
						</div>
						<div>
							<h2 class="s35 overlay-b">Creative Projects <i class="icon-pencils"></i> <a href="./" class="text-right">See all</a></h2>
							<div class="module-entry a">
								<figure><img src="http://placehold.it/575x385" alt="Placeholder" width="575" height="385"></figure>
								<h3>Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum odio.</p>
								<p class="link-btn"><a class="a" href="./">More <i class="icon-arrow-right"></i></a></p>
							</div>
						</div>
					</div>
				</article>
				<article class="module-wide">
					<h2 class="s35">This month’s highlights <i class="icon-sun"></i></h2>
					<ul class="list-entries">
						<li class="theme-coral">
							<h3>Book Trailers</h3>
							<figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335"></figure>
							<div>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</p>
								<p class="link-btn">
									<a href="./">More <i class="icon-arrow-right"></i></a>
									<a href="./">Make &amp; Send Your Own <i class="icon-arrow-right"></i></a>
								</p>
							</div>
						</li>
						<li class="theme-carrot">
							<h3>Podcasts</h3>
							<figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335"></figure>
							<div>
								<h4>Title</h4>
								<p class="link-btn">
									<a href="./">More <i class="icon-arrow-right"></i></a>
									<a href="./">Make &amp; Send Your Own <i class="icon-arrow-right"></i></a>
								</p>
							</div>
						</li>
						<li class="theme-lime">
							<h3>Audio Books</h3>
							<figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335"></figure>
							<div>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</p>
								<p class="link-btn">
									<a href="./">More <i class="icon-arrow-right"></i></a>
									<a href="./">Make &amp; Send Your Own <i class="icon-arrow-right"></i></a>
								</p>
							</div>
						</li>
						<li>
							<h3>Vlogs &amp; Videos</h3>
							<figure><img src="http://placehold.it/235x335" alt="Placeholder" width="235" height="335"></figure>
							<div>
								<h4>Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum adipiscing elit. Aenean in erat interdum, rhoncus orci vel, fringilla est. Nam vel condimentum</p>
								<p class="link-btn">
									<a href="./">More <i class="icon-arrow-right"></i></a>
									<a href="./">Make &amp; Send Your Own <i class="icon-arrow-right"></i></a>
								</p>
							</div>
						</li>
					</ul>
				</article>
				<article>
					<div class="cols-a a">
						<div>
							<header class="heading-title">
								<h1 class="overlay-b">Bookshop <i class="icon-books"></i></h1>
							</header>
							<div class="module-box b">
								<form action="./" method="post" class="form-search">
									<p>
										<label for="fsa">Search</label>
										<input type="search" id="fsa" name="fsa" placeholder="Search" required>
										<button type="submit" class="hidden">Submit</button>
									</p>
									<ul class="list-filter">
										<li>Filter by:</li>
										<li class="theme-navy"><a href="./">Young Adult</a></li>
										<li class="theme-azure"><a href="./">Schools &amp; Libraries</a></li>
										<li class="theme-carrot"><a href="./">Children</a></li>
										<li class="theme-coral"><a href="./">Families</a></li>
										<li class="theme-lime"><a href="./">Teens</a></li>								
									</ul>
								</form>
								<section>
									<h2 class="strong s30 ms20">Most popular</h2>
									<ul class="list-slider" data-count="3">
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/155x240" alt="Placeholder" width="155" height="240"> Title <span>Author</span></a></li>
									</ul>
								</section>
								<section>
									<h2 class="s20">Action &amp; Adventure</h2>
									<ul class="list-slider">
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
										<li><a href="./"><img src="http://placehold.it/130x200" alt="Placeholder" width="130" height="200"> Title <span>Author</span></a></li>
									</ul>
								</section>
							</div>
						</div>
						<aside>
							<h2 class="s35 overlay-b">News <i class="icon-news"></i></h2>
							<ul class="list-related">
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
							</ul>
							<h2 class="s35 overlay-b">Twitter <i class="icon-twitter"></i></h2>
							<ul class="list-related">
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
								<li><a href="./"><span class="img"><img src="http://placehold.it/60x85" alt="Placeholder" width="60" height="85"></span> Headline Title dolor sit amet, consectetur Aenean in erat interdum Headline Title dolor sit amet, consectetur Aenean in erat interdum</a></li>
							</ul>
						</aside>
					</div>
				</article>
			</main>
			{{ include('_footer.html.twig') }}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="javascript/jquery.js"><\/script>');</script>
		<script defer src="javascript/scripts.js"></script>
		<script defer src="javascript/custom.js"></script>
	</body>
</html>
